doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Cause List
    style.
      body {
        font-family: Arial, sans-serif;
        font-size: 18px;
        padding: 20px;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        margin: 5rem auto;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 8px;
        background-color: #f9f9f9;
      }
      .header {
        text-align: center;
        margin-bottom: 40px;
      }
      .header h1 {
        margin: 0;
        font-size: 24px;
      }
      .table-container {
        width: 100%;
        overflow-x: auto;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th, td {
        border: 1px solid #ccc;
        padding: 8px;
        height: 50px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      .lawyers-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width:100%
      }
  body
    .container
      .header
        h1 Cause List for the Week
      .table-container
        table
          thead
            tr
              th No.
              th Date
              th Case
              th Adjourned For
              th Lawyers in Court
          tbody
            each report, index in reports
              tr
                td #{index + 1}
                td #{new Date(report.adjournedDate).toLocaleDateString('en-US', { weekday: 'long', })}
                td #{report.caseReported ? report.caseReported.firstParty.name[0].name : 'N/A'} vs #{report.caseReported ? report.caseReported.secondParty.name[0].name : 'N/A'}
                td #{report.adjournedFor}
                td
                  ul.lawyers-list
                    each lawyer in report.lawyersInCourt
                      li #{lawyer.firstName} #{lawyer.lastName}, Esq
